body {
    background-image: url("../images/pic-plane.jpg");
    color: #ffffff;
    text-shadow: 2px 2px black;
}

li {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-shadow: 1px 1px black;
}

h1 {
    text-align: center;
}

.header {
    margin-bottom: 2rem;
}

/* Mobile friendly */
@media only screen and (orientation: portrait) {
    .art-frame {
        width: 88vw;
        height: 90vw;
    }
    .art-info {
        width: 88vw;
    }
    h1 {
        font-size: 1.4rem;
        text-align: center;
    }
}
