body {
    background-image: url("../images/pic-house.jpg");
}

.links-box {
    max-width: 20rem;
    margin: 0 auto;
}

/* Mobile friendly */
@media only screen and (orientation: portrait) {
    .links-box {
        max-width: none;
    }
}
