@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '@fontsource/dejavu-serif';

body {
    background: url("../images/pic-sky.jpg") fixed 50% 0%;
    background-size: cover;
    color: white;
    font-family: 'DejaVu Serif', serif;
    font-size: 1.2rem;
}

a {
    font-size: 1.2rem;
    color: #cec3ff;
    text-decoration:none;
}

h2 {
    text-shadow: 1px 1px 4px black;
}

li {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px black;
}

.link {
    border: none;
    float: left;
    color: white;
    min-width: 160px;
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.link:hover {
    color: white;
    background-color: #6A5F59;
    box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 20%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px rgb(255 255 255 / 16%), inset 0px -13px 6px -10px rgb(66 66 66 / 38%)
}

.header {
    display: flex;
    justify-content: space-between;

}

.left-side,.right-side {
    margin: 0px;
}

.fav-img {
    width: 2rem;
    height: 2rem;
}

.parent-img {
    position: relative;
    top: 0;
    left: 0;
}
.img1 {
    position: relative;
    top: 0;
    left: 0;
}
.img2 {
    position: absolute;
    top: 2rem;
    left: 0.5rem;
}

.brown-container {
    width: 60vw;
    background-color: rgba(45,39,34);
    background-color: rgba(45,39,34,0.8);
    padding: 3rem;
    border-top: 5px groove #D9DCBE;
    border-left: 5px groove #D9DCBE;
    border-right: 5px ridge #D9DCBE;
    border-bottom: 5px ridge #D9DCBE;
    border-radius: 10px;
    margin: 0 auto;
}

.links-box {
    min-width: 12rem;
    padding: 1rem;
    padding-top: 0.3rem;
    background-color: #4F453F;
    background-color: rgba(79,69,63,0.9);
    border-top: 5px groove #D9DCBE;
    border-left: 5px groove #D9DCBE;
    border-right: 5px ridge #D9DCBE;
    border-bottom: 5px ridge #D9DCBE;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.links-box h2 {
    color:#96928D;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0.1rem;
}

#links-title {
    color:#96928D;
}

.green-box {
    background-color: rgb(45,39,34);
    background-color: rgba(172,190,133,0.5);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 20%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px #ffffff, inset 0px -13px 6px -10px rgb(66 66 66 / 38%)
}

.links-break {
    color:gray;
    background-color:gray;
    width: 100%;
}

.custom-break {
    color:gray;
    background-color:gray;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.music-date {
    font-size: 20px;
    text-align: right;
}

.music {

}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-box {
    border: 0;
    width: 13rem;
    height: 13rem;
}

.contact {
    display: flex;
    flex: 1;
}

.stash-button {
    background-color: rgb(45,39,34);
    width: 180px;
    height: 164px;
    font-size: 1.2rem;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 5px groove #BA6BD8;
    border-left: 5px groove #BA6BD8;
    border-right: 5px ridge #BA6BD8;
    border-bottom: 5px ridge #BA6BD8;
    border-radius: 5px;
    box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 20%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px #ffffff, inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
    margin: 5px;
}
.stash-button:hover {
    background-color: #7B458F;
    transform: scale(1.05);
}

.link-button {
    background-color: #2D2722;
    width: 180px;
    height: 164px;
    font-size: 18px;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 20%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 10px 6px -10px #ffffff, inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
    margin: 5px;
}

.link-button:hover {
    background-color: #4f443c;
    color: turquoise;
}

.stashes {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.pixelated {
    image-rendering: pixelated;
}

.username-title {
    font-size: 10vw;
    text-align: center;
    margin-bottom: 0.1rem;
    margin-top: 1rem;
    font-family: "Poppins", serif;
    text-shadow: 2px 2px 4px black;
}

.showreel {
    padding: 2rem;
}

.brown-box {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.anim-list {
}

.art_stash_container {
    max-width: 80%;
}

.anim-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.anim-box {
    background-color: rgb(45,39,34);
    color: white;
    padding: 7px;
    max-height: 10%;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 6px double #fff;
    border-radius: 15px;
    width: 28rem;
}

.art_date {
    text-align: right;
    color: #999999;
    font-size: 12px;
}

.watch_date {
    text-align: right;
    color: grey;
    font-size: 13px;
}

.art_thumb_fav {
    width: 10%;
}

.anim-title {
    font-size: 1.1rem;
    text-align: left;
    margin: 0rem;
}

.about-box {
    display: flex;
}

.blinkies {

}

.copyright {
    font-size: 1rem;
    text-shadow: 2px 2px black;
    text-align: center;
}

@keyframes myAnimation {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 90%;
    }
}

.walk-cycle {
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding-top: 2rem;
    width: 200px;
}

.center-text {
    text-align: center;
}

.stash-img {
    width: 20px;
}

.me-cutout {
    width: 26rem;
}

.about-portrait {
    display: flex;
    align-items: end;
}

/* Mobile friendly */
@media only screen and (orientation: portrait) {

    body {
        font-size: 1rem;
    }

    .brown-container {
        width: auto;
        padding: 1.5rem;
    }

    .stashes {
        flex-direction: row;
    }

    .link {
        font-size: 1.3rem;
        text-align: center;
    }

    .brown-box {
        flex-direction: column;
    }
    .stash-button {
        width: 32%;
        height: 10rem;
        font-size: 0.9rem;
    }
    .stashes {
        gap: 0rem;
    }
    .img2 {
        top: 2rem;
        left: -1rem;
        width: 10rem;
    }
    @keyframes myAnimation {
        from {
            margin-left: 0%;
        }
        to {
            margin-left: 80%;
        }
    }
    .walk-cycle {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        padding-top: 1rem;
        width: 100px;
    }
    .username-title {
        margin-top: 1rem;
    }
    .me-cutout {
        width: 15rem;
    }
    .about-box {
        flex-direction: column;
         align-items: end;
    }
    .music-box {
        border: 0;
        width: 49%;
        height: 11rem;
    }
}
